.spinner[b-7170cdlubo] {
    border: 16px solid silver;
    border-top: 16px solid #337AB7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin-b-7170cdlubo 700ms linear infinite;
    top: 40%;
    left: 55%;
    position: absolute;
}

@keyframes spin-b-7170cdlubo {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}